ScrollPane Region{
    -fx-padding: 0 0 0 0;
}

ScrollPane{
    -fx-fit-to-width: true;
}

#addBookISBNContainer{
    -fx-background-color: white;
}

#inputContainerWrap{
    -fx-background-color: #eee;
}

#inputContainer{
    -fx-padding: 20 30 30 30;
    -fx-max-width: 500;
}

#inputContainer TextField, #inputContainer DigitsField, #addBookISBNField{

    -fx-padding: 10 15 10 15;
    -fx-background-color: white;
    -fx-text-fill: #212121;
    -fx-font-size: 18;

}

.inputSection{
    -fx-padding: 40px 0 0 0;
}

.inputLabel {
    -fx-font-size: 16;
    -fx-text-fill: #212121;
    -fx-padding: 15 0 5 0;
}

#addBookDatePicker{
    -fx-background-color: white;
    -fx-control-inner-background: white;
    -fx-faint-focus-color: white;
    -fx-text-fill: #212121;
    -fx-font-size: 16;
}

#addBookReadingStatusCombo{
    -fx-background-color: white;
    -fx-text-fill: #212121;
    -fx-font-size: 16;
}

#addBookISBNContainer{
    -fx-background-color: #454545;
}

#addBookISBNContainer HBox{
    -fx-padding: 10 30 10 30;
    -fx-background-color: orange;
}

#addBookISBNField{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #212121;
    -fx-alignment: center;
}

#addBookISBNButton FontIcon {
    -fx-icon-color: white;
}

.errorLabel{
    -fx-text-fill: #f44336;
    -fx-font-weight: bold;
    -fx-padding: 5 10;
}

.inputIcon{
    -fx-padding: 5px 10px 5px 0;
}

.inputIcon FontIcon {
    -fx-icon-color: #454545;
    -fx-icon-size: 32px;
}