#libraryList{
    -fx-background-color: #eee;
}

#libraryList ScrollBar {
    -fx-orientation: horizontal;
}

#libraryList Region{
    -fx-padding: 0 0 0 0;
}

.list-cell {
    -fx-alignment: TOP_CENTER;
    -fx-background-color: #eee;
    -fx-padding: 0 20 0 20;
}
